.idea/
digraph.py
Dokumentacja.pdf
generator.py
graph.py
krok_po_kroku.py
przykad_grafu.py
save.py
dijkstra1.py
dijkstra1.pyc
window_dijkstra.py
window_show.py
windowopen.py
windowopen.pyc
moje_dane.json